body{
    background-color: salmon;
    filter: brightness(125%) ;

}
.ny1{
    width: 33%;
    border: 3px solid;
    border-color: rgb(236, 233, 204);
    height: 296px;
}
.ny2{
    width: 33%;
    border: 3px solid;
    border-color: rgb(236, 233, 204);

}
.ny3{
    width: 32%;
    border: 3px solid;
    border-color: rgb(236, 233, 204);
    float: right;
    height: 296px;
}
.hny{
    background: linear-gradient(gold,rgb(255, 102, 0));
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
.ny4{
    width: 23%;
    height: 600px;
    float: left;
    margin-top: 2px;
    margin-right: 40px;
    border: 3px solid;
}
.p1{
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ny5{
    width: 23%;
    height: 600px;
    float: right;
    margin-top: 2px;
    margin-left: 40px;
    border: 5px solid;
}
.email{
    width: 50%;
    height: 40px;
}
.button{
    border: 3px solid;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    background-color: brown;
}
.h5{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 29px;
    text-align: center;
}